<div class="card card-body p-4 rounded-0 bg-dark text-white">
<form action="/Profesor/Agregar" method="POST">

<div><label for="asigTit">Profesor</label></div>
    <div>
        <label for="rfc">Ingrese su RFC :</label>
        <input type="text" name="rfc" placeholder="RFC" id="rfc" class="form-control bg-dark text-white"/>
    </div>

    <div>
        <label for="nombres">Escriba sus nombres :</label>
        <input type="text" name="nombres" placeholder="NOMBRE" id="creditos" class="form-control bg-dark text-white"/>
    </div>

    <div>
        <label for="paterno">Escriba su apellido Paterno :</label>
        <input type="text" name="paterno" placeholder="APELLIDO PATERNO" id="paterno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="materno">Escribe el apellido Materno :</label>
        <input type="text" name="materno" placeholder="APELLIDO MATERNO" id="materno" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="fechaNacimiento">Escriba su fecha de Nacimiento :</label>
        <input type="date" name="fechaNacimiento" class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="direccion">Ingrese su direccion :</label>
        <input type="text" name="direccion" placeholder="Calle ## Mz ## Lt ##" id="direccion" class="form-control bg-dark text-white"/>
    </div>
        <div>
        <label for="celular">Ingrese su celular :</label>
        <input type="number" name="celular" placeholder="5511223344" id="celular" class="form-control bg-dark text-white"/>
    </div>
        <div>
        <label for="profesion">Escriba su Profesion :</label>
        <input type="text" name="profesion" placeholder="PROFESION" id="profesion" class="form-control bg-dark text-white"/>
    </div>
        <div>
        <label for="numeroEmpleado">Ingrese su numero de empleado :</label>
        <input type="number" name="numeroEmpleado" placeholder="####" id="numeroEmpleado" class="form-control bg-dark text-white"/>
    </div>


    <button class="btn btn-success btn-sm mt-2">Agregar</button>

</form>
</div>