<!--   <h1>FORMULARIO ESCUELA</h1>
https://getbootstrap.com/docs/5.0/components/navbar/
    <ul>
        <li><a href="/">Ingresar alumno</a></li>
        <li><a href="/asignarutaAgregar">Ingresar Asignatura</a></li>
        <li><a href="/agregarProfesor">Ingresar Profesor</a></li>
        <li><a href="/listaAlumno">Lista de Alumnos</a></li>
        <li><a href="/listaAsignatura">Lista de Asignaturas</a></li>
        <li><a href="/listaProfesor">Lista de Profesores</a></li>
    </ul>
-->
<nav class="navbar navbar.dark bg.dark md-2">
    <nav class="navbar navbar-white sticky-top bg-white  ">
        <H1>FORMULARIO UAEMEX</H1>
    </nav>
    <nav class="container">
        <div class="col-md-1 bg-light sidebar">
            <a href="/" class="navbar-brand">Ingresar Alumno</a>
            <a href="/listaAlumno" class="navbar-brand">Lista de Alumnos</a>
        </div>
        <div class="col-md-1 bg-light sidebar">
            <a href="/asignarutaAgregar" class="navbar-brand">Ingresar Asignatura</a>
            <a href="/listaAsignatura" class="navbar-brand">Lista de Asignaturas</a>
        </div>
        <div class="col-md-1 bg-light sidebar">
            <a href="/agregarProfesor" class="navbar-brand">Ingresar Profesor</a>
            <a href="/listaProfesor" class="navbar-brand">Lista de Profesores</a>
        </div>
    </nav>

</nav>